/* Reset CSS */
* {
    /* Margem = Externa  */
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: hotpink;

    /* Texto */
    color: aliceblue;
}

/* seletor para os <A> */
a {
    /* Propriedade e VALOR  */
    text-decoration: none;
    color: antiquewhite;
}




/* HEARDER = Cabeçalho */
header {
    /* ROW linha Horizontal  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ec94ce;
    /* Largura ou Comprimento */
    width: 100%;
}

/* UL sistema lista topicos */
.menu {
    list-style: none;
    /* lista horizontal */
    display: flex;
    /* espaço entre as TAGs*/
    gap: 1rem;
    /* um rem */
}

/* Tag NAV*/
.menu-desktop {
    display: none;
}

/* Daqui pra frente versao mobile */


/* ====================== */
/* Responsivo */
/* Serve para telas maiores */

/* Telas Maiores que 768px*/

    @media (min-width:768px) {
        header{
            /* espaço inteiro */
            padding: 1rem 6rem;
            justify-content: ;
            gap: ;
        } 


        /* NAV */
        .menu-desktop{
            display: flex;
    }
    }
